.container-group {
  >.container-body {
    .display(flex);
    .flex-direction(row);
    .flex-wrap(nowrap);
    >.ui-container {
      .display(flex);
      .flex-direction(column);
      .flex-wrap(nowrap);
      .flex(1);
      position: relative;
      height: initial;
      width: initial;
      border-right: 1px solid rgba(163, 163, 163, 0.5);
      &:last-child {
        border-right: none;
      }
      > div {
        .flex(none);
      }
      >.container-head {
        font-size: .7em;
        //line-height: .7em;
        //background-color: white;
        height: initial;
        .ui-toolbar {
          .ui-text {
            height: initial;
            margin: 0;
          }
          .ui-button.type-action {
            padding: 2px;
            margin: 2px;
            min-height: 19px;
            min-width: 19px;
          }
          &.toolbar-number {
            text-align: right;
            .ui-text {
              font-size: 11px;
              font-weight: bold;
              color: white;
              width: initial;
              height: initial;
              padding: 1px 4px;
              margin: 6px 0 4px;
              background-color: rgba(0, 0, 0, .5);
              border-radius: 3px;
            }
          }
        }
      }
      >.container-body {
        height: 100%;
        .flex(1);
        background-color: rgba(128, 128, 128, .2);
        .ui-item {
          //font-size: 13em;
          .card-body {
            display: none;
          }
          &.item-selected {
            .card-body {
              //display: initial;
            }
          }
        }
      }
    }
  }
}
